<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> <head th:insert="~{common :: commonHead}">
  <title>Product Manager</title>
</head>

<body>
<div class="container">
  <h1 class="mt-5">Product List</h1>
  <table class="table-tabs">
    <tbody>
    <td>
      <form method="post" th:action="@{/logout}">
        <input type="submit" class="btn btn-danger" value="Logout">
      </form>
    </td>
    <td>
      <form method="get" th:action="@{/products/new}">
        <input sec:authorize="hasRole('ADMIN')" type="submit" class="btn btn-primary" value="Create New Product">
      </form>
    </td>
    <td>
      <form method="get" th:action="@{/adminhome}">
        <input sec:authorize="hasRole('ADMIN')" type="submit" class="btn btn-dark" value="ADMIN HOME">
      </form>
    </td>
    </tbody>
  </table>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Product ID</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Made In</th>
      <th>Price</th>
      <th sec:authorize="hasRole('ADMIN')">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${listProducts}">
      <td th:text="${product.id}">Product ID</td>
      <td th:text="${product.name}">Name</td>
      <td th:text="${product.brand}">Brand</td>
      <td th:text="${product.madeIn}">Made in</td>
      <td th:text="${product.price}">Price</td>
      <td sec:authorize="hasRole('ADMIN')">
        <a class="btn btn-primary btn-sm" th:href="@{'/products/edit/' + ${product.id}}">Edit</a>
        <a class="btn btn-danger btn-sm" th:href="@{'/products/delete/' + ${product.id}}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div th:insert="~{common :: commonScript}"></div>
</body>
</html>