<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{common :: commonHead}">
    <title>Create New Product</title>
</head>

<body>
<div class="container">
    <h1 class="mt-5 text-center">Create New Product</h1>
    <br />
    <form th:action="@{/products/save}" th:object="${product}" method="post">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div th:if="${isExistedProduct}">
                    <span style="color: red">이미 리스트에 존재하는 물건입니다.</span>
                </div>
                <div th:if="${checkProductName}">
                    <span style="color: red">제품 이름을 입력하여주세요.</span>
                </div>
                <div class="mb-3">
                    <label for="productName" class="form-label">Product Name:</label>
                    <input type="text" id="productName" class="form-control" th:field="*{name}" />
                </div>
                <div th:if="${checkBrand}">
                    <span style="color: red">브랜드를 입력하여주세요.</span>
                </div>
                <div class="mb-3">
                    <label for="brand" class="form-label">Brand:</label>
                    <input type="text" id="brand" class="form-control" th:field="*{brand}" />
                </div>
                <div th:if="${checkMadeIn}">
                    <span style="color: red">제조 국가를 입력하여주세요.</span>
                </div>
                <div class="mb-3">
                    <label for="madeIn" class="form-label">Made In:</label>
                    <input type="text" id="madeIn" class="form-control" th:field="*{madeIn}" />
                </div>
                <div th:if="${checkPrice}">
                    <span style="color: red">가격은 0보다 커야됩니다.</span>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <input type="text" id="price" class="form-control" th:field="*{price}" />
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Bootstrap JS 삽입 -->
<div th:insert="~{common :: commonScript}"></div>
</body>
</html>
